// colors
$text: #333
$accent: green
$secondary: #666

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Arial sans-serif
  font-size: inherit
  color: inherit
  text-decoration: none
  border-radius: 0
  border: none
  background: transparent

html
  color: $text
  font-size: 100%
  scroll-behavior: smooth

img
  max-width: 100%

.section
  padding: 100px 0

.container
  padding: 0 40px
  margin: 0 auto
  width: min(100%, 1380px)

.heading-xl
  font-size: 5rem
  font-weight: 900
  line-height: 1.2em
  margin-bottom: 1em

.heading-md
  font-size: 2rem
  margin-bottom: .5em

.price
  display: flex
  align-items: center
  line-height: 1em
  font-size: 1.25rem
  color: $secondary
  margin-bottom: 1em

.karma-icon
  margin-left: .25em
  width: 1em
  height: 1em
  fill: $secondary

// lots list start
.lots__list
  list-style: none
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 4rem

.lot-card
  display: block
  height: 300px
  &-inner
    display: grid
    grid-template-columns: 2fr 3fr
    gap: 2rem
    max-height: 100%
    height: 100%
  &__images-wrp
    max-width: 100%
    position: relative
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 40px
      z-index: 2
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%)

  &__text-wrp
    display: flex
    flex-direction: column

  &__description
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 4
    overflow: hidden
  &__footer
    flex-grow: 1
    display: flex
    align-items: end
    color: $secondary
    font-size: .75rem

  .swiper-pagination-bullet
    background: #fff
    opacity: .4
    transition: opacity .3s
  .swiper-pagination-bullet-active
    opacity: 1
