<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> New Lot</title>
</head>
<body>
<form method="POST">{% csrf_token %}
    {{form.as_p}}
    <button type="submit"> Submit </button>
</form>
</body>
</html>