{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lot list</title>
</head>
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">
<body>
<main class="main">
  <section class="section hero lots">
    <div class="container">
      <h1 class="heading-xl">Lots</h1>

      <ul class="lots__list">
        {% for lot in lots %}
          <li class="lot-card">
            <a class="lot-card-inner" href="{% url 'lot_detail' lot_pk=lot.pk %}">
              <div class="lot-card__images-wrp swiper-container">
                <div class="lot-card__images swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="https://picsum.photos/400/600" alt="" class="lot-card__image">
                  </div>
                  <div class="swiper-slide">
                    <img src="https://picsum.photos/400/600" alt="" class="lot-card__image">
                  </div>
                  <div class="swiper-slide">
                    <img src="https://picsum.photos/400/600" alt="" class="lot-card__image">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="lot-card__text-wrp">
                <h2 class="heading-md lot-card__heading">{{ lot.title }}</h2>
                <span class="price lot-card__price"> {{ lot.prise }}
                  <svg class="karma-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                      <path
                          d="M34.133,221.867C15.309,221.867,0,237.175,0,256s15.309,34.133,34.133,34.133c18.825,0,34.133-15.309,34.133-34.133 S52.958,221.867,34.133,221.867z"/>
                      <path
                          d="M477.867,221.867c-18.825,0-34.133,15.309-34.133,34.133s15.309,34.133,34.133,34.133S512,274.825,512,256 S496.691,221.867,477.867,221.867z"/>
                      <path
                          d="M256,85.333c-91.23,0-165.743,72.004-170.231,162.133h340.463C421.743,157.338,347.23,85.333,256,85.333z"/>
                      <path
                          d="M256,426.667c91.23,0,165.743-72.004,170.232-162.133H85.769C90.257,354.662,164.77,426.667,256,426.667z"/>
                    </g>
                  </svg>
                </span>
                <div class="lot-card__description"> {{ lot.text|linebreaks }}</div>

                <footer class="lot-card__footer">
                  Posted by&nbsp
                  <span class="lot-card__author"> {{ lot.author }}, </span>
                  <time class="lot-card__date">&nbsp{{ lot.publish_date }}</time>
                </footer>
              </div>
            {% endfor %}
          </a>
        </li>
      </ul>

    </div>
  </section>

</main>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
