<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lot detail</title>
</head>
<body>
        {{ lot }}
        {{ lot.author }}
        {{ lot.title }}
        {{ lot.text }}
        {{ lot.prise }}
        {{ lot.publish_date }}
        <a href="{% url 'lot_list' %}"> Back </a>
</body>
</html>